<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="appNav">
    <input class="nav-toggle" id="nav-toggle" type="checkbox" />
    <label class="menu-button" for="nav-toggle" aria-label="Open navigation">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <label class="menu-close" for="nav-toggle" aria-label="Close navigation">x</label>

    <header class="app-topbar">
        <a class="app-brand"
           th:href="@{/competitions}">StrongmanCast</a>
    </header>

    <aside class="side-menu">
        <a th:href="@{/competitions#live-competitions}">Live Competitions</a>
        <a th:href="@{/competitions#upcoming-competitions}">Upcoming Competitions</a>
        <a th:href="@{/competitions#past-competitions}">Past Competitions</a>
        <a th:if="${organizerLoggedIn}" th:href="@{/organizer}">Organizer Dashboard</a>
        <a th:if="${organizerLoggedIn}" th:href="@{/settings/organizer}">Organizer Settings</a>
        <a th:unless="${organizerLoggedIn}" th:href="@{/organizer}">Organizer Login</a>
        <form class="menu-logout" th:if="${organizerLoggedIn}" th:action="@{/logout}" method="post">
            <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit">Log Out</button>
        </form>
    </aside>
</div>
</body>
</html>
